.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0px;
}
.footer-link, footer-link:visited{
    text-decoration: none;
    font-size: 25px;
    color: white;
}