.footer {
    text-align: center;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
}
.footer-link, footer-link:visited{
    margin: 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
}