.grid-container{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto;
}
.grid-item{
    margin: 0px;
}
.title {
    font-size: 35px;
}
.text {
    margin: 20px;
    width: 70%;
    font-size: 25px;
}
